.anid .jp-progress {
  background-color: #ddd;
  height: 15px;
  overflow: hidden;
  position: relative;
  width: 100% !important;
}

.anid .jp-single-player {
  clear: both;
}

.anid .jp-interface {
  margin: 0;
  padding: 0;
}

.anid .jp-load-bar {
  background-color: #bababa;
  cursor: pointer;
  height: 15px;
  width: 0;
  z-index: 1000;
}

.anid .jp-play-bar {
  background-color: #636363;
  height: 15px;
  width: 0;
}

.anid .jp-playlist,
.anid .jp-play-time,
.anid .jp-total-time {
  display: inline;
}

.anid .jp-single-player ul {
  float: left;
  margin: 0;
  padding: 0;
}

.anid .jp-single-player ul li {
  cursor: pointer;
  display: inline;
  float: left;
  height: 15px;
  list-style: none !important;
  list-style-image: none !important;
  list-style-type: none !important;
  margin: 0;
  margin-bottom: 2px;
  margin-right: 2px;
  padding: 1px;
  width: 15px;
}

.anid .jp-play-time,
.anid .jp-total-time {
  float: left;
  height: 15px;
  line-height: 12px;
  margin-bottom: 2px;
  margin-right: 2px;
  padding: 2px 2px 0;
}

.anid .jp-total-time {
  display: none;
}
